<h1>Slime Wars</h1>
<div class="board size-<%= @board.width %>">
  <%= for row <- Matrix.to_list(@board.cells) do %>
    <%= for cell <- row do %>
      <div class="cell <%= cell %>"></div>
    <% end %>
  <% end %>
</div>

<%= if Game.is_game_over?(@game) do %>
  <h2>Game Over</h2>
<% else %>
  <p>Turn: <%= Game.turn(@game) %></p>
<% end %>

<% score = Game.score(@game) %>
<h3>Blue <%= score[:blue] %></h3>
<h3>Green <%= score[:green] %></h3>
