.board {
  display: grid;
  grid-gap: 7px;
  max-width: 44rem;
  &.size-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .cell {
    height: 50px;
    border: 1px solid #101010;
    &.blue { background: navy; }
    &.green { background: seagreen; }
    &.selected { animation: pulse 1.75s infinite alternate; }
    &.valid-move { background: lightyellow; }
    &.valid-move:hover { background: gold; }
  }
}

@keyframes pulse {
    from { opacity: 1; }
    to { opacity: .6; }
}
